.landscape {
        background-color: var(--yellow);
        display: flex;
        top:0;
        justify-content: center;
        align-items: center;
        font-size: 50px;
}

@media (orienation: portrait) {
    .landscape {
        display: none;
}